* {
    margin: 0;
    padding: 0;
}
/* Body */
body {
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #211;
    background-color: #fff;
}

/* Titels en teksten */

h1 {
    float: left;
    padding: 20px 0 0 15px;
    font-size: 44px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: -1px;
    color: #AE7C4D;
}

h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

h2 {
    font-weight: normal;
    color: #221111;
}
h3 {
	font-size: 30px;
	color:#56762D;
  
	}

p {
    padding: .75em 0;
    line-height: 1.5em;
    
}



a {
    color: #96AE3E;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* pagina */
#pagina {
    width: 100%;
    min-width: 1075px;
}

#pagina2 {
    width: 928px;
    margin: 0 auto;
    padding: 15px;	
	}

/* header */

#container {
	width: 1075px;
   margin: 0 auto;
   }

/* menubalk */

#menubalk {
	width: 1075px;
    margin: 0 auto;
  
  
}
#menubalk2 {
	 clear: both;
    height: 35px;
    background: #211;
    border-bottom-style: solid;
    border-bottom-color: #56762D;
    border-bottom-width: 3px;
    position: fixed; 
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
    }

#menubalk ul {
    list-style: none;
}

#menubalk ul li {
    display: block;
    float: left;
    font-size: 1.2em;
    line-height: 35px;

}

#menubalk ul li a {
    display: block;
    float: left;
    padding: 0 25px;
    text-decoration: none;
    font-weight: bold;
     color: #96AE3E;
   
}

#menubalk ul li a:hover {
    text-decoration:none;
    color: #CFC;
 }
#menubalk ul li.active a{
	 text-decoration: none;
	 color: #FFF;  
}
#menubalk ul li.special a{
	color: #F3CD07;	
	}

#plekmake {
	height: 33px;}
/* hoofdafbeelding */

#hoofdafbeelding {
    height: 410px;
    background: #56762D url('images/Scoutsafbeelding.jpg') no-repeat center center;
   
  
}

/* content */

#content {
    float: left;
    width: 550px;
    padding: 0 0 15px 5px;
}

#content .post {
    padding: 0 0 4em 0;
}

#content h2 {
    font-size: 3em;
    letter-spacing: -1px;
    color: #444;
}

#content h2 a {
    color: #9F6841;
    text-decoration: none;
}

p.postmeta {
    color: #888888;
}

#content .entry {
    padding: 0 0 0 0;
}
#content .samen {
	 margin-bottom: 0;
	 margin-top: 0;
	 padding: 0 0 0 0;	
}

/* sidebar */

#sidebar {
    float: right;
    width: 400px;
    padding-bottom: 20px;
}

#sidebar .box {
	 width: 300px;
	 float: right;
	 margin-top: 25px;
    margin-bottom: 20px;
    background: #96AE3E;
    border: 1px solid #211;
}

#sidebar h2 {
    padding-left: 15px;
    font-size: 1.5em;
    line-height: 2em;
    color: #FFF;
    background: #211;
    
}

#sidebar .box2 {
    padding: .25em 15px;
}

#sidebar p {
    text-align: left;
    color: #000;
}

#sidebar ul {
    list-style: none;
    padding: 1em 0;
}

#sidebar ul li {
    padding-left: 15px;
    line-height: 2.5em;
    border-bottom: 1px solid #211;
    
}
#sidebar2 {
    float: right;
    width: 400px;
    padding-bottom: 20px;
    padding-top: 450px;
}

#sidebar2 .box {
	 width: 300px;
	 float: right;
	 margin-top: 25px;
    margin-bottom: 20px;
    background: #96AE3E;
    border: 1px solid #211;
}

#sidebar2 h2 {
    padding-left: 15px;
    font-size: 1.5em;
    line-height: 2em;
    color: #FFF;
    background: #211;
    
}

#sidebar2 .box2 {
    padding: .25em 15px;
}

#sidebar2 p {
    text-align: left;
    color: #000;
}

#sidebar2 ul {
    list-style: none;
    padding: 1em 0;
}

#sidebar2 ul li {
    padding-left: 15px;
    line-height: 2.5em;
    border-bottom: 1px solid #211;
    
}
/* scoutsteken */ 
#scoutsteken {
    float: right;
    width: 240px;
    padding-bottom: 20px;
	}
.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}
/*menuzijkant*/
#menuzijkant ul li{
	padding: 5px;
	
	}
#menuzijkant ul li a{
	
	text-decoration: underline;
	color: #211;
	}
#menuzijkant ul li.active a {
    font-size: 1.3em;
    text-decoration: none;
}
#menuzijkant ul li a:hover {
	
	text-decoration: none;
}
#menuzijkant ul li.active a:hover {
	font-size: 1.3em;
	margin-left: 0px;
	text-decoration: none;
	}

/* footer */
#footer {
	width: 960px;
    margin: 0 auto;
    color: #fff;
  
  
}
#footer h3{
	color: #fff;	
	}
#footer2 {
	 clear: both;
    height: 200px;
    background: #211;
    }
    
#left-box {
float: left;
width: 280px;
padding-top: 10px;
font-size: 110%;

}
#middle-box {
float: left;
padding: 0 0 0 80px;
width: 200px;
padding-top: 10px;
text-align: center;
}
#right-box {
float: right;
width: 250px;
text-align: right;
padding-top: 10px;
font-size: 90%;
	}#pagina #menubalk2 {
}
